@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz@9..144&family=Montserrat&display=swap");

html {
  --greenShade: hsl(158, 36%, 37%);
  --greyShade: hsl(228, 12%, 48%);
  --montserratFont: "Montserrat", sans-serif;
  --frauncesFont: "Fraunces", serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.background {
  background-color: hsl(30, 38%, 92%);
  width: 100vw;
  height: 100vh;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  display: grid;
  place-items: center;
}
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 50%;
  height: 60%;
  border: 1px solid transparent;
  border-radius: 10px;
}
.left-card {
  background: url("/images/image-product-desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.right-card {
  background-color: #fff;
  padding: 40px;
}
.right-card p {
  font-size: 0.8rem;
  text-transform: uppercase;
  color: var(--greyShade);
  letter-spacing: 5px;
  font-family: var(--montserratFont);
  font-weight: 500;
}
.right-card h2 {
  margin: 30px 0;
  font-size: 2.2rem;
  text-transform: capitalize;
  width: 80%;
  color: hsl(212, 21%, 14%);
  font-family: var(--frauncesFont);
  font-weight: 700;
}
.right-card h4 {
  margin-bottom: 30px;
  line-height: 1.6rem;
  color: var(--greyShade);
  letter-spacing: 0.5px;
  font-family: var(--montserratFont);
  font-weight: 700;
}
.price {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.price h1 {
  color: var(--greenShade);
  margin-right: 20px;
  font-family: var(--frauncesFont);
  font-weight: 700;
}
.price span {
  text-decoration: line-through;
  color: var(--greyShade);
  font-family: var(--montserratFont);
  font-weight: 700;
}
button {
  display: flex;
  padding: 15px;
  width: 100%;
  border: none;
  border-radius: 10px;
  background-color: var(--greenShade);
  justify-content: center;
  cursor: pointer;
}
button h5 {
  color: #fff;
  margin-left: 10px;
  font-weight: 700;
  font-size: larger;
  font-family: var(--montserratFont);
}

@media screen and (max-width: 1335px) {
  .cards {
    width: 55%;
  }
}
@media screen and (max-width: 1215px) {
  .cards {
    width: 60%;
  }
}
@media screen and (max-width: 1115px) {
  .cards {
    width: 65%;
  }
}
@media screen and (max-width: 1030px) {
  .cards {
    width: 70%;
  }
}
@media screen and (max-width: 955px) {
  .cards {
    width: 75%;
  }
}
@media screen and (max-width: 900px) {
  .cards {
    width: 80%;
  }
}
@media screen and (max-width: 835px) {
  .cards {
    width: 85%;
  }
}
@media screen and (max-width: 790px) {
  .cards {
    width: 90%;
  }
}

@media screen and (max-width: 745px) {
  .cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
  }
  .left-card {
    border-bottom-left-radius: 0;
    border-top-right-radius: 10px;
    height: 40%;
    width: 100%;
  }
  .right-card {
    /* padding: 30px; */
    height: 60%;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .right-card p {
    font-size: 0.8rem;
    text-transform: uppercase;
    color: var(--greyShade);
    letter-spacing: 5px;
    font-family: var(--montserratFont);
    font-weight: 500;
  }
  .right-card h2 {
    margin: 30px 0;
    font-size: 2.4rem;
    width: 100%;
  }
}

@media screen and (max-width: 635px) {
  .right-card h2 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 495px) {
  .right-card h2 {
    margin: 20px 0;
  }
}
@media screen and (max-width: 380px) {
  .right-card h4 {
    margin-bottom: 10px;
  }
  .price {
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 373px) {
  .right-card {
    padding: 35px;
  }
  .right-card h4 {
    margin-bottom: 10px;
  }
  .price {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 360px) {
  .right-card {
    padding: 30px;
  }
  .right-card h2 {
    margin: 10px 0;
  }
}
@media screen and (max-width: 340px) {
  /* .right-card p {
    margin-top: -10px;
  } */
  .right-card h2 {
    margin: 10px 0;
  }
  .right-card h4 {
    margin-bottom: 10px;
  }
  .price {
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 313px) {
  .right-card h2 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 300px) {
  .right-card h2 {
    font-size: 1.6rem;
  }
}

@media screen and (max-height: 720px) {
  .right-card {
    padding: 30px;
  }
  .right-card p {
    margin-top: -15px;
  }
  .right-card h2 {
    /* font-size: 1.6rem; */
    margin: 10px 0;
  }
}
@media screen and (max-height: 670px) {
  .right-card {
    padding: 30px;
  }
  .right-card p {
    margin-top: -15px;
  }
  .right-card h2 {
    font-size: 1.6rem;
    margin: 10px 0;
  }
}
@media screen and (max-height: 653px) {
  .right-card {
    padding: 20px;
  }
  .right-card p {
    margin-top: -10px;
  }
  .right-card h2 {
    font-size: 1.2rem;
    margin: 10px 0;
  }
  .right-card h4 {
    margin-bottom: 15px;
    line-height: 1.3rem;
  }
  .price {
    margin-bottom: 20px;
  }
  .price h1 {
    font-size: 1.2rem;
  }
  button {
    padding: 10px;
  }
  button h5 {
    font-size: small;
  }
}
